.card{
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 8px;
    cursor: move;
    margin: 10px;
    border: 1px solid white;
}
.btn{
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid;
    background-color: #4caf50;
    color: white;
    height: 30px;
    width: 100px;
}

.dark-btn{
    margin-right: 10px;
    background-color: rgb(10, 10, 10);
    height: 30px;
    width: 100px;
    color: white;
    border-radius: 5px;
    border: 1px solid;
}