.modal{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.model-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.model-content .input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}
.model-content .description{
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}


.model-actions .btn {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}
