.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #282c34;
    color: white;
    gap: 10px;
  }

@media (max-width:768px) {
  .header{
    flex-direction: column;
  }
}
  
.modes{
    border-radius: 10px; 
    
}